@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@media (min-width: 768px) {
    .navbar-collapse {
        padding-left: 0 !important;
    }
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8 !important;
    font-family: "Segoe UI", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.centered {
    text-align: center;
}

.col-sm-6 {
    margin-top: 20px;
}

.navbar-inverse {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    float: none !important;
    padding-top: 10px;
}

.navbar-brand span {
    font-size: 14px;
}

.navbar-brand .number {
    font-size: 22px;
}

.navbar-right .last-li {
    background-color: #bc0f0f;
}

.navbar-right .last-li a i {
    color: #ffffff;
}

.navbar-default {
    padding: 17px 0 10px 0;
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
}

.nav-two {
    font-weight: lighter;
    font-size: 18px;
}

.nav-two li a:hover {
    border-bottom: 2px solid #bc0f0f;
}

.carousel-caption {
    text-align: left !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-height: 230px;
}

.services .centered {
    padding: 55px 30px;
    background-color: #ffffff;
    border: 5px solid #F8F8F8;
    min-height: 300px;
}

.services .centered:hover {
    border-bottom: 2px solid #bc0f0f;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
}

.love {
    background-image: url("../img/love-bkg.png");
    height: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bkg {
    color: #ffffff;
}

.bkg span {
    background-color: #BC0F0F;
}

.bkg small {
    color: #b0b0b0;
}

.text-bkg {
    padding: 177px 0 0 10px;
}

.pre-footer h4 {
    color: #333333;
    font-size: 20px;
}

.pre-footer span {
    color: #cccccc;
    margin-bottom: 10px;
}

.pre-footer p {
    color: #333333;
    font-size: 15px;
}

.pre-footer a {
    color: #bb971a;
}

.footer-first {
    background-color: #3f3f3f;
}

.nav-bottom {
    margin: 23px 0;
}

.footer-first a {
    color: #ffffff;
    font-size: 18px;
}

.footer-first a:hover {
    color: #BB971A;
}

.footer-second {
    background-color: #3a3a3a;
    min-height: 177px;
}

.footer-second i {
    margin-right: 10px;
}

.grey-txt ul {
    list-style-type: none;
}

.grey-txt ul li {
    line-height: 200%;
}

.grey-txt ul li a {
    color: #b0b0b0;
}


