@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8 !important;
    font-family: "Segoe UI", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.centered {
    text-align: center !important;
}

.navbar-inverse {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand {
    float: none !important;
    padding-top: 10px;
}

.navbar-brand span {
    font-size: 14px;
}

.navbar-brand .number {
    font-size: 22px;
}

.navbar-right .last-li {
    background-color: #bc0f0f;
}

.navbar-right .last-li a i {
    color: #ffffff;
}

.navbar-default {
    padding: 17px 0 10px 0;
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
}

.nav-two {
    font-weight: lighter;
    font-size: 18px;
}

.nav-two li a:hover {
    border-bottom: 2px solid #bc0f0f;
}


.services .centered {
    padding:55px 30px;
    background-color: #ffffff;
    margin: 20px 0 0 10px;
    width: 24%;

}

.services .col-lg-3:hover {
    border-bottom: 2px solid #bc0f0f;
}

#myCarousel {
    position: relative;
}

.carousel-caption {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


.left-arrow {
    position: absolute;
    top:50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
}

.love {
    background-image: url("../img/love-bkg.png");
    height: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.bkg {
    color: #ffffff;
}

.bkg-lucky, .bkg-life, .bkg-consultation, .bkg-lucky-number, .tree, .fox {
    position: relative;
}

.lucky-text p, .life-text p, .consultation-text p, .number-text p {
    color: #cccccc;
}

.lucky-text p span, .life-text p span, .consultation-text p span, .number-text p span  {
    background-color: #BC0F0F;
}

.lucky-text {
    position: absolute;
    top: 210px;
    left: 40px;
}

.life-text {
    position: absolute;
    top: 190px;
    left: 40px;
}

.consultation-text {
    position: absolute;
    top: 200px;
    left: 40px;
}

.number-text {
    position: absolute;
    top: 215px;
    left: 40px;
}

.pre-footer h4 {
    color: #333333;
    font-size: 20px;
}

.pre-footer span {
    color: #cccccc;
    margin-bottom: 10px;
}

.pre-footer p {
    color: #333333;
    font-size: 15px;
}

.footer-nav {
    display: flex !important;
    justify-content: space-between !important;
    font-size: 18px;
}

.tree-text {
     position: absolute;
     top: 40px;
     left: 40px;
     background-color: #bc0f0f;

}

.fox-text {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #bc0f0f;

}

